<div class="col col-4 article">
    <div class="inner">
        <div class="image-container" style="background-image:url({% if article.image %}{{ article | img_url: 'x1024' }}{% endif %})">
            <a href="{{ article.url }}">
                <img src="{{ article | img_url: 'x250', crop: 'center' }}" alt="">
            </a>
        </div>
        <div class="excerpt-container">
            <div class="tags">
                <span class="tag">News</span>
                <span class="tag" id="posted-on">{{ article.published_at | date: "%B %-d, %Y" }}</span>
            </div>
            <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
            <p>{{ article.content | strip_html  | truncate: 250 }}</p>
            <a href="{{ article.url }}" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>