<div class="txt-txt twocolumn {{ block.settings.add_padding_top }} {{ block.settings.add_padding_bottom }} {{ block.settings.add_margin_top }} {{ block.settings.add_margin_bottom }} {{ block.settings.add_border_top }} {{ block.settings.add_border_bottom }} {{ block.settings.border_width }}" {% if block.settings.background_color != '' %}style="background-color: {{ block.settings.background_color }}"{% endif %}>
    <div class="wrapper {{ block.settings.max_width }}">
        {% case block.settings.image_width %}
            {% when 'image-half' %}
            {%- assign image_col_width = 'col-wide-6' -%}
            {%- assign content_col_width = 'col-wide-6' -%}
            {% when 'image-third' %}
            {%- assign image_col_width = 'col-wide-4' -%}
            {%- assign content_col_width = 'col-wide-8' -%}
            {% when 'image-quarter' %}
            {%- assign image_col_width = 'col-wide-3' -%}
            {%- assign content_col_width = 'col-wide-9' -%}
        {% endcase %}
        {% case block.settings.column_order %}
        {% when 'image-left' %}
            {%- assign flex_direction = 'row-flex-row' -%}
        {% when 'image-right' %}
            {%- assign flex_direction = 'row-flex-reverse' -%}
        {% endcase %}

        {% case block.settings.vertical_align %}
        {% when 'middle' %}
        {%- assign flex_valign = 'row-flex-aligncenter' -%}
        {% when 'top' %}
        {%- assign flex_valign = 'row-flex-aligntop' -%}
        {% when 'bottom' %}
        {%- assign flex_valign = 'row-flex-alignbottom' -%}
        {% endcase %}
        <div class="row row-flex {{ flex_direction }} {{ flex_valign }}">
            <div class="col-img {{ block.settings.text_color | escape }} {{ block.settings.content_align | escape }} {{ image_col_width }}">
                <div class="txt-content">
                    {% if block.settings.title != blank %}
                        <{{ block.settings.title_tag }} class="title">{{ block.settings.title }}</{{ block.settings.title_tag }}>
                    {% endif %}
                    {% if block.settings.content != blank %}
                        <div class="text">{{ block.settings.content }}</div>
                    {% endif %}
                    {% if block.settings.link_1 != blank %}
                        <div class="buttons {{ block.settings.button_position }}">
                            {% if block.settings.link_1 != blank %}
                                <a class="button" href="{{ block.settings.link_1 }}">{{ block.settings.button_text_1 }}</a>
                            {% endif %}	
                        </div>
                    {% endif %}	
                </div>
            </div>
            <div class="col-text {{ block.settings.text_color | escape }} {{ block.settings.content_align | escape }} {{ content_col_width }}">
                <div class="txt-content">
                    {% if block.settings.title2 != blank %}
                        <{{ block.settings.title_tag2 }} class="title">{{ block.settings.title2 }}</{{ block.settings.title_tag2 }}>
                    {% endif %}
                    {% if block.settings.content2 != blank %}
                        <div class="text">{{ block.settings.content2 }}</div>
                    {% endif %}
                    {% if block.settings.link_2 != blank %}
                        <div class="buttons {{ block.settings.button_position }}">
                            {% if block.settings.link_2 != blank %}
                                <a class="button" href="{{ block.settings.link_2 }}">{{ block.settings.button_text_2 }}</a>
                            {% endif %}	
                        </div>
                    {% endif %}	
                </div>
            </div>
        </div>
    </div>
</div>