<section class="brand_sec">
	<div class="container">
    	<h2 class="clction_title"><span>Our Brands</span></h2>
        <div class="row justify-content-center">
        	<div class="col-lg-5 col-md-6">
            	<div class="brand_block">
                    {% if block.settings.title_1 != blank or block.settings.content_1 != blank %}
                        <figure><img src="{{ block.settings.image_1 | img_url: '1920x' }}" alt="img"/></figure>
                        {% if block.settings.title_1 != blank %}
                            <{{ block.settings.title_tag_1 }}>{{ block.settings.title_1 }}</{{ block.settings.title_tag_1 }}>
                        {% endif %}
                        {% if block.settings.content_1 != blank %}
                            <p>{{ block.settings.content_1 }}</p>
                            <div class="text">{{ block.settings.content_1 }}</div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
            	<div class="brand_block">
                    {% if block.settings.title_2 != blank or block.settings.content_2 != blank %}
                        <figure><img src="{{ block.settings.image_2 | img_url: '1920x' }}" alt="img"/></figure>
                        {% if block.settings.title_2 != blank %}
                            <{{ block.settings.title_tag_2 }}>{{ block.settings.title_2 }}</{{ block.settings.title_tag_2 }}>
                        {% endif %}
                        {% if block.settings.content_2 != blank %}
                            <p>{{ block.settings.content_2 }}</p>
                            <div class="text">{{ block.settings.content_2 }}</div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>    
</section>