<div class="delivery-options-accordian">
    <div class="tab">
        <div class="tab-head">
            <span class="label">Standard UK Delivery</span>
            <span class="indicator"><i class="fas fa-plus"></i><i class="fas fa-minus"></i></span>
        </div>
        <div class="content">
            <p>
                {{ settings.standard_uk_delivery }}
            </p>
        </div>
    </div>
    <div class="tab">
        <div class="tab-head">
            <span class="label">Express UK Delivery</span>
            <span class="indicator"><i class="fas fa-plus"></i><i class="fas fa-minus"></i></span>
        </div>
        <div class="content">
            <p>
                {{ settings.express_uk_delivery }}
            </p>
        </div>
    </div>
    <div class="tab">
        <div class="tab-head">
            <span class="label">Next Day UK Delivery</span>
            <span class="indicator"><i class="fas fa-plus"></i><i class="fas fa-minus"></i></span>
        </div>
        <div class="content">
            <p>
                {{ settings.next_day_uk_delivery }}
            </p>
        </div>
    </div>
    <div class="tab">
        <div class="tab-head">
            <span class="label">International</span>
            <span class="indicator"><i class="fas fa-plus"></i><i class="fas fa-minus"></i></span>
        </div>
        <div class="content">
            <p>
                {{ settings.international_delivery }}
            </p>
        </div>
    </div>
    <div class="tab">
        <div class="tab-head">
            <span class="label">Shipping & Handling</span>
            <span class="indicator"><i class="fas fa-plus"></i><i class="fas fa-minus"></i></span>
        </div>
        <div class="content">
            <p>
                {{ settings.shipping_handling }}
            </p>
        </div>
    </div>
    <div class="tab">
        <div class="tab-head">
            <span class="label">Returns & Exchanges</span>
            <span class="indicator"><i class="fas fa-plus"></i><i class="fas fa-minus"></i></span>
        </div>
        <div class="content">
            <p>
                {{ settings.returns_exchanges }}
            </p>
        </div>
    </div>
</div>