{% comment %}
  Number of related items per row,
  and number of rows.
{% endcomment %}
{% assign number_of_related_products_per_row = 4 %}
{% assign number_of_rows = 1 %}
{% comment %}
  Heading.
  Leave blank if you don't need one.
{% endcomment %}
{% comment %}
  Set either or both to true, if you want
  to limit yourself to items with same vendor, and/or type.
{% endcomment %}
{% assign same_vendor = true %}
{% assign same_type = true %}
{% comment %}
  Collections to ignore.
  Never pick related items from those.
{% endcomment %}
{% assign exclusions = 'frontpage,all,best-seller-internal-use,full-price' | split: ',' %}
{% comment %}
  Looking for a relevant collection.
{% endcomment %}
{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
  {% unless exclusions contains collection.handle %}
    {% assign found_a_collection = true %}
  {% endunless %}
{% endif %}
{% unless found_a_collection %}
  {% for c in product.collections %}
    {% unless exclusions contains c.handle or c.all_products_count < 2 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
      {% break %}
    {% endunless %}
  {% endfor %}
{% endunless %}
{% comment %}
  If we have a relevant collection.
{% endcomment %}

{% if found_a_collection %}
  {% assign counter = 0 %}
  {% assign break_at = number_of_rows | times: number_of_related_products_per_row %}
  {% assign current_product = product %}
  {% capture related_items %}
{% assign product_in = '' %}
{% assign primary_cat = '' %}

{% for c in product.collections %}
    {% unless exclusions contains c.handle or c.all_products_count < 2 %}
    {% assign found_a_collection = true %}
    {% assign collection = c %}
    {% else %}
    {% continue %}
    {% endunless %}

	
    {% for product in collection.products %}
      {% unless product.handle == current_product.handle %}
      {% unless same_vendor and current_product.vendor != product.vendor %}
      {% unless same_type and current_product.type != product.type %}


      {% assign other_title = current_product.title | truncatewords: 3, "" %}
      {% if product.title contains other_title %}
        {% if product_in == '' %}
          {% assign product_in = product_in | append: product.id | append: "<|>" %}
        {% else %}

          {% if product_in contains product.id   %}
            {% continue %}
          {% endif %}

          {% assign product_in = product_in | append: product.id | append: "<|>" %}

        {% endif %}

        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 mb-30">
          <div class="prod_block">
            {% assign all_colours = '' %}
            {% assign available_colours = '' %}
            {% for product_option in product.options_with_values %}
              {% if product_option.name == 'Colour' %}
                {% assign colours = '' %}
                {% assign opt_vals = product_option.values %}
                {% for value in opt_vals %}
                  {% assign all_colours = all_colours | append: value | append: '<|>' %}
                {% endfor %}
              {% endif %}
            {% endfor %}
    
            {% assign all_colours = all_colours | split: '<|>' %}
            {% for colour in all_colours %}
              {% assign temp_colour = colour | strip | downcase %}
              {% for variant in product.variants %}
                {% assign variant_colour_value = variant.title | split: ' / ' | first | strip | downcase %}
    
                {% if variant_colour_value == temp_colour %}
                  {% assign juno_stock = variant.metafields.juno.stock | strip %}
                  {% if variant.available == false %}
                    {% if juno_stock contains 'hidden' %}
                      {% continue %}
                    {% endif %}
                  {% endif %}
                  {% assign available_colours = available_colours | append: colour | append: '<|>' %}
                {% endif %}
              {% endfor %}
            {% endfor %}
    
            {% assign available_colours_array = available_colours | split: '<|>' | uniq %}
            <figure>
              {% if sale %}
                <div class="sale">SALE</div>
              {% endif %}
              {% if available_colours != '' %}
                {% for value in available_colours_array %}
                  {% assign index = forloop.index %}
                  {% for variant in product.variants %}
                    {% assign variant_colour_value = variant.title | split: ' / ' | first | strip | downcase %}
                    {% assign temp_colour = value | strip | downcase %}
                    {% if variant_colour_value == temp_colour %}
                      <a href="{{ product.url }}">
                      {% if index == 1 %}
                        <img
                          src="{{ variant.image | img_url: '405x' }} "
                          alt=""
                          class="p_image"
                          id="img-color{{ variant.id }}"
                        >
                      {% else %}
                        <img
                          src="{{ variant.image | img_url: '405x' }} "
                          alt=""
                          class="p_image hide"
                          id="img-color{{ variant.id }}"
                        >
                      {% endif %}
                    </a>
                      {% break %}
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              {% endif %}
            </figure>
            <div class="cap_info">
              <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
              <span class="price">{{ product.price | money_with_currency }}</span>
    
              <div class="pwr-category-snippets">
                <div class="review-id" id="snippet-{{product.id}}" data-id="snippet-{{product.id}}"></div>
              </div>
    
              <div class="color_info">
                {% if available_colours != '' %}
                  {% for value in available_colours_array %}
                    {% assign index = forloop.index %}
                    {% for variant in product.variants %}
                      {% assign variant_colour_value = variant.title | split: ' / ' | first | strip | downcase %}
                      {% assign temp_colour = value | strip | downcase %}
                      {% if variant_colour_value == temp_colour %}
                        {% for image in product.images %}
                          {% assign alt = image.alt %}
                          {% if alt contains 'swatch_' %}
                            {% assign alt = alt | replace: 'swatch_', '' | strip | downcase %}
                            {% if alt == variant_colour_value %}
                              {% if index == 1 %}
                                <div
                                  class="form-check form-check-inline"
                                  data-toggle="tooltip"
                                  title="{{ value }}"
                                >
                                  <input
                                    class="form-check-input"
                                    type="radio"
                                    name="inlineRadioOptions"
                                    checked="checked"
                                    id="color{{ variant.id }}"
                                    value="option2"
                                  >
                                  <label class="form-check-label" for="color{{ variant.id }}">
                                    <img
                                      src="{{ image | img_url: '22x22', crop: 'center' }}"
                                      alt=""
                                  ></label>
                                </div>
                              {% else %}
                                <div
                                  class="form-check form-check-inline"
                                  data-toggle="tooltip"
                                  title="{{ value }}"
                                >
                                  <input
                                    class="form-check-input"
                                    type="radio"
                                    name="inlineRadioOptions"
                                    id="color{{ variant.id }}"
                                    value="option2"
                                  >
                                  <label class="form-check-label" for="color{{ variant.id }}">
                                    <img
                                      src="{{ image | img_url: '22x22', crop: 'center' }}"
                                      alt=""
                                  ></label>
                                </div>
                              {% endif %}
                              {% break %}
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                        {% break %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>


        {% comment %} <div class="col col-3 test" data-index="{% increment item_count %}">
          <div class="image">
            <a href="{{ product.url }}">
              <img src="{{ product.featured_image | product_img_url: 'x1024' }}">
            </a>
          </div>
          <div class="info">
            <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
            <p><span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ product.price }}" style="display:none !important;"></span>{{ product.price | money }}</p>
            {% for product_option in product.options_with_values %}
            {% if product_option.name == 'Color' %}
            <ul class="colors unstyled inline">
              {% for value in product_option.values %}
              <li id="{{ value | downcase }}"></li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
          </div>
        </div> {% endcomment %}

        {% assign counter = counter | plus: 1 %}
      {% endif %}


      {% if counter == break_at %}
      {% break %}
      {% endif %}

      {% endunless %}
      {% endunless %}
      {% endunless %}

      {% if counter == break_at %}
      {% break %}
      {% endif %}

    {% endfor %}

    {% if counter == break_at %}
    {% break %}
    {% endif %}
{% endfor %}



{% if counter < break_at %}
  {% for tag in current_product.tags %}
  {% if tag contains 'primary_' %}
    {% assign primary_cat = tag | replace: 'primary_', '' | handle%}
    {% break %}
  {% endif %}
  {% endfor %}
    
  {% if primary_cat != '' %}
      {% assign collection = collections[primary_cat] %}
      {% for product in collection.products %}
        {% unless product.handle == current_product.handle %}
        {% unless same_vendor and current_product.vendor != product.vendor %}
        {% unless same_type and current_product.type != product.type %}

          {% if product_in == '' %}
            {% assign product_in = product_in | append: product.id | append: "<|>" %}
          {% else %}

            {% if product_in contains product.id   %}
              {% continue %}
            {% endif %}

            {% assign product_in = product_in | append: product.id | append: "<|>" %}

          {% endif %}

          <div class="col col-3 test2" data-index="{% increment item_count %}">
            <div class="image">
              <a href="{{ product.url }}">
                <img src="{{ product.featured_image | product_img_url: 'x1024' }}">
              </a>
            </div>
            <div class="info">
              <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
              <p><span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ product.price }}" style="display:none !important;"></span>{{ product.price | money }}</p>
              {% for product_option in product.options_with_values %}
              {% if product_option.name == 'Color' %}
              <ul class="colors unstyled inline">
                {% for value in product_option.values %}
                <li id="{{ value | downcase }}"></li>
                {% endfor %}
              </ul>
              {% endif %}
              {% endfor %}
            </div>
          </div>

          {% assign counter = counter | plus: 1 %}


          {% if counter == break_at %}
          {% break %}
          {% endif %}

        {% endunless %}
        {% endunless %}
        {% endunless %}

        {% if counter == break_at %}
        {% break %}
        {% endif %}

      {% endfor %}

  {% endif %}  
{% endif %}


{% endcapture %}
{% endif %}

{% comment %} another related if counter is less than break_at {% endcomment %}
{% if counter < break_at %}
  {% capture other_related_items %}

  {% for c in product.collections %}
    {% unless exclusions contains c.handle or c.all_products_count < 2 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
    {% else %}
      {% continue %}
    {% endunless %}

    {% for product in collection.products %}
      {% unless product.handle == current_product.handle %}
        {% unless same_vendor and current_product.vendor != product.vendor %}
          {% unless same_type and current_product.type != product.type %}

          {% if product_in == '' %}
            {% assign product_in = product_in | append: product.id | append: "<|>" %}
          {% else %}
    
            {% if product_in contains product.id   %}
              {% continue %}
            {% endif %}
    
            {% assign product_in = product_in | append: product.id | append: "<|>" %}
    
          {% endif %}
          <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 mb-30">
            <div class="prod_block">
              {% assign all_colours = '' %}
              {% assign available_colours = '' %}
              {% for product_option in product.options_with_values %}
                {% if product_option.name == 'Colour' %}
                  {% assign colours = '' %}
                  {% assign opt_vals = product_option.values %}
                  {% for value in opt_vals %}
                    {% assign all_colours = all_colours | append: value | append: '<|>' %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
      
              {% assign all_colours = all_colours | split: '<|>' %}
              {% for colour in all_colours %}
                {% assign temp_colour = colour | strip | downcase %}
                {% for variant in product.variants %}
                  {% assign variant_colour_value = variant.title | split: ' / ' | first | strip | downcase %}
      
                  {% if variant_colour_value == temp_colour %}
                    {% assign juno_stock = variant.metafields.juno.stock | strip %}
                    {% if variant.available == false %}
                      {% if juno_stock contains 'hidden' %}
                        {% continue %}
                      {% endif %}
                    {% endif %}
                    {% assign available_colours = available_colours | append: colour | append: '<|>' %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
      
              {% assign available_colours_array = available_colours | split: '<|>' | uniq %}
              <figure>
                {% if sale %}
                  <div class="sale">SALE</div>
                {% endif %}
                {% if available_colours != '' %}
                  {% for value in available_colours_array %}
                    {% assign index = forloop.index %}
                    {% for variant in product.variants %}
                      {% assign variant_colour_value = variant.title | split: ' / ' | first | strip | downcase %}
                      {% assign temp_colour = value | strip | downcase %}
                      {% if variant_colour_value == temp_colour %}
                        <a href="{{ product.url }}">
                        {% if index == 1 %}
                          <img
                            src="{{ variant.image | img_url: '405x' }} "
                            alt=""
                            class="p_image"
                            id="img-color{{ variant.id }}"
                          >
                        {% else %}
                          <img
                            src="{{ variant.image | img_url: '405x' }} "
                            alt=""
                            class="p_image hide"
                            id="img-color{{ variant.id }}"
                          >
                        {% endif %}
                      </a>
                        {% break %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endif %}
              </figure>
              <div class="cap_info">
                <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
                <span class="price">{{ product.price | money_with_currency }}</span>
      
                <div class="pwr-category-snippets">
                  <div class="review-id" id="snippet-{{product.id}}" data-id="snippet-{{product.id}}"></div>
                </div>
      
                <div class="color_info">
                  {% if available_colours != '' %}
                    {% for value in available_colours_array %}
                      {% assign index = forloop.index %}
                      {% for variant in product.variants %}
                        {% assign variant_colour_value = variant.title | split: ' / ' | first | strip | downcase %}
                        {% assign temp_colour = value | strip | downcase %}
                        {% if variant_colour_value == temp_colour %}
                          {% for image in product.images %}
                            {% assign alt = image.alt %}
                            {% if alt contains 'swatch_' %}
                              {% assign alt = alt | replace: 'swatch_', '' | strip | downcase %}
                              {% if alt == variant_colour_value %}
                                {% if index == 1 %}
                                  <div
                                    class="form-check form-check-inline"
                                    data-toggle="tooltip"
                                    title="{{ value }}"
                                  >
                                    <input
                                      class="form-check-input"
                                      type="radio"
                                      name="inlineRadioOptions"
                                      checked="checked"
                                      id="color{{ variant.id }}"
                                      value="option2"
                                    >
                                    <label class="form-check-label" for="color{{ variant.id }}">
                                      <img
                                        src="{{ image | img_url: '22x22', crop: 'center' }}"
                                        alt=""
                                    ></label>
                                  </div>
                                {% else %}
                                  <div
                                    class="form-check form-check-inline"
                                    data-toggle="tooltip"
                                    title="{{ value }}"
                                  >
                                    <input
                                      class="form-check-input"
                                      type="radio"
                                      name="inlineRadioOptions"
                                      id="color{{ variant.id }}"
                                      value="option2"
                                    >
                                    <label class="form-check-label" for="color{{ variant.id }}">
                                      <img
                                        src="{{ image | img_url: '22x22', crop: 'center' }}"
                                        alt=""
                                    ></label>
                                  </div>
                                {% endif %}
                                {% break %}
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                          {% break %}
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
            {% comment %} <div class="col col-3 a" data-index="{% increment item_count %}">
              <div class="image">
                <a href="{{ product.url }}">
                  <img src="{{ product.featured_image | product_img_url: 'x1024' }}">
                </a>
              </div>
              <div class="info">
                <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
                <p><span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ product.price }}" style="display:none !important;"></span>{{ product.price | money }}</p>
                {% for product_option in product.options_with_values %}
                {% if product_option.name == 'Color' %}
                <ul class="colors unstyled inline">
                  {% for value in product_option.values %}
                  <li id="{{ value | downcase }}"></li>
                  {% endfor %}
                </ul>
                {% endif %}
                {% endfor %}
              </div>
            </div> {% endcomment %}

            {% assign counter = counter | plus: 1 %}


            {% if counter == break_at %}
            {% break %}
            {% endif %}

          {% endunless %}
        {% endunless %}
      {% endunless %}

      {% if counter == break_at %}
      {% break %}
      {% endif %}

    {% endfor %}

    {% if counter == break_at %}
    {% break %}
    {% endif %}

  {% endfor %}
  {% endcapture %}
{% endif %}

{% assign other_related_items = other_related_items | trim %}
{% assign related_items = related_items | trim %}
{% assign related_items = related_items | append: other_related_items %}

{% unless related_items == blank %}
  <section class="related-products-container">
    <div class="container">
      <h2 class="title clction_title text-capitalize"><span>You May Also Like</span></h2>
      <div class="row flex-grid">
        {{ related_items }}
      </div>
    </div>
  </section>
{% endunless %}
