<section class="stand_sec">
  <div class="container">
    {% if section.settings.title != blank %}
      <h2 class="clction_title">
        <span>{{ section.settings.title }}</span>
      </h2>
    {% endif %}
  </div>

  {% for block in section.blocks limit: section.blocks.size %}
    <div class="stand_block">
      {% capture mod %}
      {{forloop.index | modulo: 2 }}
      {% endcapture %}
      <div class="row g-0{% if mod contains '0' %} flex-row-reverse{% endif %}">
        <div class="col-md-6 align-self-center">
          <div class="detail">
            <div class="detail_in">
              <i><img src="{{ block.settings.icon | img_url: '96x102' }}" alt="{{ block.settings.title }}"></i>
              <{{ block.settings.title_tag }}>{{ block.settings.title }}</{{ block.settings.title_tag }}>
              <p>
                {{ block.settings.content }}
              </p>
              <a href="{{ block.settings.link }}" class="btns">{{ block.settings.button_text }}</a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <figure><img src="{{ block.settings.side_image | img_url:'4472x4472' }}" alt="Image Not Found"></figure>
        </div>
      </div>
    </div>
  {% endfor %}
</section>

{% schema %}
{
  "name": "Grid Image Banner",
  "tag": "section",
  "class": "stand_sec",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "WHAT WE STAND FOR"
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Tradition at Heart."
        },
        {
          "type": "select",
          "id": "title_tag",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h3"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>We have been manufacturing high-quality shoes since 1886. And we continue using our knowhow to make them even better.</p>"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "More"
        },
        {
          "type": "image_picker",
          "id": "side_image",
          "label": "Side Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Grid Image",
      "category": "Banner"
    }
  ]
}
{% endschema %}
