{% for block in section.blocks limit: section.blocks.size %}
<section class="watch_sec">
	<div class="container">
    	<h2 class="clction_title"><span>Watch Our Corporate Video</span></h2>
    </div>
    <div class="vid_info">
        {% if block.settings.video_src == blank %}
            {% if block.settings.video_link != blank %}
                <iframe width="100%" height="776" src="https://www.youtube.com/embed/{{ block.settings.video_link.id }}?autoplay=1&mute=1&loop=1&playlist={{ block.settings.video_link.id }}&origin={{ shop.secure_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            {% endif %}
        {% else %}
            <video preload="auto" autoplay="autoplay" muted="muted" {% if block.settings.video_controls %}controls="controls"{%endif%} {% if block.settings.video_loop %}loop="loop"{%endif%} {% if block.settings.image %}poster="{{ block.settings.image | img_url: '1920x' }}"{% endif %} playsinline>
                <source src="{{ block.settings.video_src | append: '.mp4' | file_url  }}" type="video/mp4"></source>
                <source src="{{ block.settings.video_src | append: '.webm' | file_url  }}" type="video/webm"></source>
                <source src="{{ block.settings.video_src | append: '.ogv' | file_url  }}" type="video/ogg"></source>
            </video>
        {% endif %}
    </div>
</section>
{% endfor %}

{% schema %}
{
    "name": "Video Section",    
    "max_blocks": 1,
    "blocks": [
        {
            "type": "banner-one",
            "name": "Video Section",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "video_src",
                    "label": "Video filename",
                    "info": "Upload a .mp4, .webm, .ogv into the Files folder (Settings > Files) all with this name. So if one of your assets is 'my-video.mp4', then just enter 'my-video' here."
                },
                {
                    "type": "checkbox",
                    "id": "video_loop",
                    "label": "Loop video?",
                    "info": "Use to video file",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "video_controls",
                    "label": "Controls video?",
                    "info": "Use to video file",
                    "default": false
                }, 
                {
                    "type": "video_url",
                    "id": "video_link",
                    "label": "Video Link",
                    "info": "Use a youtube video",
                    "accept": ["youtube"]
                }
            ]
        }
    ],
    "presets": [{
        "name": "Juno Banner One",
        "category": "Banner"
    }]
}
{% endschema %}