{% for block in section.blocks limit: section.blocks.size %}
  <div class="container">
    {% if block.settings.title != blank %}
      <{{ block.settings.title_tag }}>{{ block.settings.title }}</{{ block.settings.title_tag }}>
    {% endif %}
    <div class="info">
      {{ block.settings.content }}
    </div>

    {% form 'contact', id: 'competitions-form' %}
      {% if form.posted_successfully? %}
        <p class="form-success">
          {{ 'contact.form.post_success' | t }}
        </p>
      {% endif %}

      <ul class="errors"></ul>
      <div id="contact-agree">
        <label>
          <input type="radio" name="contact[email_optin]" value="1" class="agree-to-be-contacted"
          ><span>Yes please!</span>
        </label>
      </div>
      <div id="contact-decline">
        <label>
          <input type="radio" name="contact[email_optin]" value="0" class="agree-to-be-contacted"
          ><span>No thanks </span>
        </label>
      </div>
      <p></p>

      {{ form.errors | default_errors }}

      <input type="hidden" name="contact[email_origin]" value="{{ page.url }}">
      <label for="email">Email Address</label>
      <input
        type="email"
        name="contact[email]"
        id="ContactFormEmail"
        placeholder="example@domain.com"
        value="{{ form.email }}"
      >
      <input type="name" name="name" id="ContactFormEmail" placeholder="name" value="{{ form.email }}">

      {% assign competitions = settings.competition_list | split: ',' %}
      <label for="competition">Select Competition</label>
      <select id="competition" name="contact[competition]">
        {% for comp in competitions %}
          <option
            value="{{ comp }}"
            {% if form.competition == comp %}
              selected="selected"
            {% endif %}
          >
            {{ comp }}
          </option>
        {% endfor %}
      </select>
      <p class="success"></p>
      <input type="submit" value="Submit" class="btn btn-primary">
    {% endform %}

    {% comment %}
      <div class="form_info">
        <div class="row g-48px">
          <div class="col-md-12">
            <div class="input-group">
              <label>Name</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group">
              <label>Email</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group">
              <label>Contact No.</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="receive_email">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="below">
            <label class="form-check-label" for="below">I’ve read and accept the Term & Conditions below.</label>
          </div>
        </div>

        <button class="btns">YES PLEASE!</button>
        ,
          {
            "type": "url",
            "id": "link",
            "label": "Button Link"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "More"
          },
          {
            "type": "image_picker",
            "id": "side_image",
            "label": "Side Image"
          }
      </div>
    {% endcomment %}
  </div>
{% endfor %}

{% schema %}
{
  "name": "Competition Info",
  "tag": "section",
  "class": "great_sec",
  "max_blocks": 1,
  "blocks": [
    {
      "type": "banner",
      "name": "Competition Info",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "The Great Vegan Footwear Giveaway"
        },
        {
          "type": "select",
          "id": "title_tag",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h2"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>To enter, share a photo of you or your loved ones enjoying wearing a pair of JOSEF SEIBEL shoes.</p><p>Share a photo of yourself enjoying your Josef Seibel footwear via Instagram or Facebook </p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Competition Info",
      "category": "Banner"
    }
  ]
}
{% endschema %}
