{% for block in section.blocks limit: section.blocks.size %}
    <section class="brand_sec">
        <div class="container">
            <h2 class="clction_title"><span>{{ block.settings.sec_title }}</span></h2>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <div class="brand_block">
                        {% if block.settings.title_1 != blank or block.settings.content_1 != blank %}
                            <figure><img src="{{ block.settings.image_1 | img_url: '1920x' }}" alt="img"/></figure>
                            {% if block.settings.title_1 != blank %}
                                <{{ block.settings.title_tag_1 }}>{{ block.settings.title_1 }}</{{ block.settings.title_tag_1 }}>
                            {% endif %}
                            {% if block.settings.content_1 != blank %}
                                <p>{{ block.settings.content_1 }}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="brand_block">
                        {% if block.settings.title_2 != blank or block.settings.content_2 != blank %}
                            <figure><img src="{{ block.settings.image_2 | img_url: '1920x' }}" alt="img"/></figure>
                            {% if block.settings.title_2 != blank %}
                                <{{ block.settings.title_tag_2 }}>{{ block.settings.title_2 }}</{{ block.settings.title_tag_2 }}>
                            {% endif %}
                            {% if block.settings.content_2 != blank %}
                                <p>{{ block.settings.content_2 }}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="brand_block">
                        {% if block.settings.title_3 != blank or block.settings.content_3 != blank %}
                            <figure><img src="{{ block.settings.image_3 | img_url: '1920x' }}" alt="img"/></figure>
                            {% if block.settings.title_3 != blank %}
                                <{{ block.settings.title_tag_3 }}>{{ block.settings.title_3 }}</{{ block.settings.title_tag_3 }}>
                            {% endif %}
                            {% if block.settings.content_3 != blank %}
                                <p>{{ block.settings.content_3 }}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>    
    </section>
{% endfor %}

{% schema %}
{
    "name": "Our Brands",
    "blocks": [
        {
            "type": "our-brands",
            "name": "Our Brands",
            "settings": [
              {
                "type": "text",
                "id": "sec_title",
                "label": "Section Title",
                "default": "Orur Brands"
              },
              {
                "type": "image_picker",
                "id": "image_1",
                "label": "Image"
              },
              {
                "type": "text",
                "id": "title_1",
                "label": "Title",
                "default": "Banner"
              },
              {
                "type": "select",
                "id": "title_tag_1",
                "label": "Title H Tag",
                "options": [
                  { "value": "h1", "label": "H1" },
                  { "value": "h2", "label": "H2" },
                  { "value": "h3", "label": "H3" },
                  { "value": "h4", "label": "H4" },
                  { "value": "h5", "label": "H5" },
                  { "value": "h6", "label": "H6" }
                ],
                "default": "h3"
              },
              {
                "type": "textarea",
                "id": "content_1",
                "label": "Content",
                "default": "Lorem ipsum dolor sit amet"
              },
              {
                "type": "image_picker",
                "id": "image_2",
                "label": "Image"
              },
              {
                "type": "text",
                "id": "title_2",
                "label": "Title",
                "default": "Banner"
              },
              {
                "type": "select",
                "id": "title_tag_2",
                "label": "Title H Tag",
                "options": [
                  { "value": "h1", "label": "H1" },
                  { "value": "h2", "label": "H2" },
                  { "value": "h3", "label": "H3" },
                  { "value": "h4", "label": "H4" },
                  { "value": "h5", "label": "H5" },
                  { "value": "h6", "label": "H6" }
                ],
                "default": "h3"
              },
              {
                "type": "textarea",
                "id": "content_2",
                "label": "Content",
                "default": "Lorem ipsum dolor sit amet"
              },
              {
                "type": "image_picker",
                "id": "image_3",
                "label": "Image"
              },
              {
                "type": "text",
                "id": "title_3",
                "label": "Title",
                "default": "Banner"
              },
              {
                "type": "select",
                "id": "title_tag_3",
                "label": "Title H Tag",
                "options": [
                  { "value": "h1", "label": "H1" },
                  { "value": "h2", "label": "H2" },
                  { "value": "h3", "label": "H3" },
                  { "value": "h4", "label": "H4" },
                  { "value": "h5", "label": "H5" },
                  { "value": "h6", "label": "H6" }
                ],
                "default": "h3"
              },
              {
                "type": "textarea",
                "id": "content_3",
                "label": "Content",
                "default": "Lorem ipsum dolor sit amet"
              }
            ]
          }
    ],
    "presets": [{
        "name": "Our Brands",
        "category": "Banner"
    }]
}
{% endschema %}