{% for block in section.blocks limit: section.blocks.size %}
  <section class="win_sec" style="background: url({{ block.settings.side_image | img_url:'4472x4472' }}) no-repeat; background-size:50%">
    {% capture mod %}
      {{forloop.index | modulo: 2 }}
      {% endcapture %}
    <div class="row g-0{% if mod contains '0' %} flex-row-reverse{% endif %}">
      <div class="col-md-6">
        <figure class="left_image">
          <img src="{{ block.settings.side_image | img_url:'4472x4472' }}" alt="Image Not Found">
        </figure>
      </div>
      <div class="col-md-6">
        <figure class="user_image"><img src="{{ block.settings.center_image | img_url:'4472x4472' }}" alt=""></figure>
        <div class="details">
          <h2>WIN. WIN. WIN</h2>
          <{{ block.settings.title_tag }}>{{ block.settings.title }}</{{ block.settings.title_tag }}>
          {{ block.settings.content }}
          <a href="{{ block.settings.link }}" class="btns">{{ block.settings.button_text }}</a>
        </div>
      </div>
    </div>
  </section>
{% endfor %}

{% schema %}
{
  "name": "Grid Win Banner",
  "max_blocks": 1,
  "blocks": [
    {
      "type": "Win",
      "name": "Win Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "center_image",
          "label": "Person Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Tradition at Heart."
        },
        {
          "type": "select",
          "id": "title_tag",
          "label": "Title H Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" }
          ],
          "default": "h3"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>We have been manufacturing high-quality shoes since 1886. And we continue using our knowhow to make them even better.</p>"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "More"
        },
        {
          "type": "image_picker",
          "id": "side_image",
          "label": "Side Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Grid Win Banner",
      "category": "Win"
    }
  ]
}
{% endschema %}
