{% comment %} {% include 'usp-bar' %} {% endcomment %}

{% unless product.type == 'Shoecare' %}
{% else %}

{% endunless %}

{% assign pImagesSorted = pImagesSorted | split: '<|>' %}

{% assign upper_material = '' %}

{% if product.metafields.op_suite.material %}
  {% assign first_chars = product.metafields.op_suite.material | slice: 0, 2 %}
  {% unless first_chars == '::' %}
    {% assign materialSkus = product.metafields.op_suite.material | split: '<|>' %}
    {% if materialSkus.size > 1 %}
      {% assign materialSkus = materialSkus | sort %}
      <script>
        var upperMaterialRelations = {};
        {% for materialSku in materialSkus %}
            {% assign materialSkuParts = materialSku | split: "::" %}
            {% comment %}make upper_material variable the first material in list {% endcomment %}
            {% if forloop.first %}
                {% assign upper_material = materialSkuParts[0] %}
            {% endif %}
            upperMaterialRelations['{{ materialSkuParts[1] }}'] = "{{ materialSkuParts[0] }}"
        {% endfor %}
      </script>
    {% else %}
      {% assign materialSkuParts = materialSkus | split: '::' %}
      {% if materialSkuParts.size > 1 %}
        {% assign upper_material = materialSkuParts[0] %}
      {% else %}
        {% assign upper_material = product.metafields.op_suite.material %}
      {% endif %}
    {% endif %}
  {% endunless %}
{% else %}
  {% assign upper_material = product.metafields.opsuite.material %}
{% endif %}

{% assign price = product.price %}

{% for opt in product.options_with_values %}
  {% unless opt.name == 'Colour' || opt.name == 'Color' %}
    {% continue %}
  {% endunless %}
  {% assign colourOpt = 'option' | append: forloop.index %}
  {% assign opt_vals = opt.values %}
  {% for variant in product.variants %}
    {% if variant[colourOpt] == opt_vals[0] %}
      {% assign price = variant.price %}
      {% if variant.compare_at_price > variant.price %}
        {% assign selectedVariantWasPrice = variant.compare_at_price %}
      {% endif %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}

<section class="product-container product_details">
  <div class="container">
    <div class="row g-48px">
      <div class="col-md-6 col-sm-12 image">
        <div class="prod_left">
          <div id="featured-image-container">
            <div class="owl-carousel" id="product-main-images">
              {% assign exclude = '' %}
              {% for image in product.images %}
                {% comment %}68602_juna02_192505_dunkelblau_womens_ss20_rrp_C2_A375.00_1{% endcomment %}
                {% assign image_src = image.src | downcase %}
                {% assign image_alt = image.alt | downcase | strip %}
                {% unless image_alt contains 'swatch_' %}
                  {% for opt in product.options_with_values %}
                    {% unless opt.name == 'Colour' || opt.name == 'Color' %}
                      {% continue %}
                    {% endunless %}
                    {% assign variant_colours = opt.values %}

                    {% for arr in variant_colours %}
                      {% assign variant_title = arr | downcase | strip %}

                      {% if variant_title == image_alt %}
                        {% assign exclude = exclude | append: image.id | append: '<|>' %}

                        <div
                          class="image-zoom"
                          data-id="{{ image.id }}"
                          data-value="alt::{{image_alt}}::title::{{variant_title}}"
                          data-colour="{{arr}}"
                        >
                          <img
                            src="{{ image | img_url: 'x1024' }}"
                            data-zoom="{{ image | img_url: 'x1024' }}"
                            alt="{{ image.alt | escape }}"
                          >
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endunless %}
              {% endfor %}

              {% for image in product.images %}
                {% comment %}68602_juna02_192505_dunkelblau_womens_ss20_rrp_C2_A375.00_1{% endcomment %}
                {% assign image_src = image.src | downcase %}
                {% assign image_alt = image.alt | downcase | strip %}
                {% unless image_alt contains 'swatch_' %}
                  {% for opt in product.options_with_values %}
                    {% unless opt.name == 'Colour' || opt.name == 'Color' %}
                      {% continue %}
                    {% endunless %}
                    {% assign variant_colours = opt.values %}

                    {% for arr in variant_colours %}
                      {% assign variant_title = arr | downcase | strip %}

                      {% if exclude contains image.id %}
                      {% else %}
                        {% assign arr2 = variant_title | split: ' - ' %}
                        {% assign c1 = arr2[0] | strip | replace: '-', '' %}
                        {% assign c2 = arr2[1] | strip | replace: '-', '' %}

                        {% if image_src contains c2 %}
                          <div class="image-zoom" data-id="{{ image.id }}" data-colour="{{arr}}">
                            <img
                              src="{{ image | img_url: 'x1024' }}"
                              data-zoom="{{ image | img_url: 'x1024' }}"
                              alt="{{ product.title | escape }}"
                            >
                          </div>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endunless %}
              {% endfor %}
            </div>

            {% for tag in product.tags %}
              {% if tag == 'wide-fit_Yes' %}
                <span id="wide-fit">Wide Fit</span>
              {% endif %}
              {% if tag == 'waterproof_Yes' %}
                <span id="waterproof">Waterproof</span>
              {% endif %}
            {% endfor %}
          </div>
          <div class="other-images-container other_image">
            <div class="owl-carousel slider-container" id="product-slider">
              {% assign exclude = '' %}
              {% for image in product.images %}
                {% comment %}68602_juna02_192505_dunkelblau_womens_ss20_rrp_C2_A375.00_1{% endcomment %}
                {% assign image_src = image.src | downcase %}
                {% assign image_alt = image.alt | downcase | strip %}
                {% unless image_alt contains 'swatch_' %}
                  {% for opt in product.options_with_values %}
                    {% unless opt.name == 'Colour' || opt.name == 'Color' %}
                      {% continue %}
                    {% endunless %}
                    {% assign variant_colours = opt.values %}

                    {% for arr in variant_colours %}
                      {% assign variant_title = arr | downcase | strip %}

                      {% if variant_title == image_alt %}
                        {% assign exclude = exclude | append: image.id | append: '<|>' %}

                        <div class="item" data-id="{{ image.id }}" data-colour="{{arr}}">
                          <img class="thumbnail" src="{{ image | img_url: 'x150' }}" alt="{{ image.alt | escape }}">
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endunless %}
              {% endfor %}

              {% for image in product.images %}
                {% comment %}68602_juna02_192505_dunkelblau_womens_ss20_rrp_C2_A375.00_1{% endcomment %}
                {% assign image_src = image.src | downcase %}
                {% assign image_alt = image.alt | downcase | strip %}
                {% unless image_alt contains 'swatch_' %}
                  {% for opt in product.options_with_values %}
                    {% unless opt.name == 'Colour' || opt.name == 'Color' %}
                      {% continue %}
                    {% endunless %}
                    {% assign variant_colours = opt.values %}

                    {% for arr in variant_colours %}
                      {% assign variant_title = arr | downcase | strip %}

                      {% if exclude contains image.id %}
                      {% else %}
                        {% assign arr2 = variant_title | split: ' - ' %}
                        {% assign c1 = arr2[0] | strip | replace: '-', '' %}
                        {% assign c2 = arr2[1] | strip | replace: '-', '' %}

                        {% if image_src contains c2 %}
                          <div class="item" data-id="{{ image.id }}" data-colour="{{arr}}">
                            <img class="thumbnail" src="{{ image | img_url: 'x150' }}" alt="{{ image.alt | escape }}">
                          </div>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endunless %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 info">
        <div class="p_detail_right">
          <h2 class="product-name">{{ product.title }}</h2>

          {% assign all_colours = '' %}
          {% assign available_colours = '' %}
          {% for product_option in product.options_with_values %}
            {% if product_option.name == 'Colour' || product_option.name == 'Color' %}
              {% assign colours = %}
              {% assign opt_vals = product_option.values %}
              {% for value in opt_vals %}
                {% assign all_colours = all_colours | append: value | append: '<|>' %}
              {% endfor %}
            {% endif %}
          {% endfor %}
          {% assign all_colours = all_colours | split: '<|>' %}

          {% for colour in all_colours %}
            {% assign temp_colour = colour | strip | downcase %}
            {% for variant in product.variants %}
              {% assign variant_colour_value = variant.title | split: ' / ' | first | strip | downcase %}

              {% if variant_colour_value == temp_colour %}
                {% assign juno_stock = variant.metafields.juno.stock | strip %}
                {% if variant.available == false %}
                  {% if juno_stock contains 'hidden' %}
                    {% continue %}
                  {% endif %}
                {% endif %}
                {% assign available_colours = available_colours | append: colour | append: '<|>' %}
              {% endif %}
            {% endfor %}
          {% endfor %}

          {% assign available_colours_array = available_colours | split: '<|>' | uniq %}

          {% assign first_colour = available_colours_array | first %}
          {% for variant in product.variants %}
            {% if first_colour == variant.option1 %}
              {% assign price = variant.price %}
              {% if variant.compare_at_price > variant.price %}
                {% assign selectedVariantWasPrice = variant.compare_at_price %}
              {% endif %}
              {% break %}
            {% endif %}
          {% endfor %}

          <p class="price">
            {%- if selectedVariantWasPrice %}{{ selectedVariantWasPrice | money_with_currency }}{% endif -%}
            <span class="red">{{ price | money_with_currency }}</span>
          </p>

          <div id="pwr-snippets" class="mt-1 mb-3">
            <div id="pr-reviewsnippet"></div>
          </div>

          {% comment %}
            <div class="default-short-desc short-desc">
              {% assign description = product.description %}
              {% assign description = description | split: '<h3>' %}
              {{ description[0] }}
            </div>
          {% endcomment %}
          {% comment %} <div class="variant-short-desc short-desc"></div> {% endcomment %}

          {% if available_colours != '' %}
            <div class="color-swatches color_info">
              {% for value in available_colours_array %}
                {% for variant in product.variants %}
                  {% assign variant_colour_value = variant.title | split: ' / ' | first | strip | downcase %}
                  {% assign temp_colour = value | strip | downcase %}
                  {% if variant_colour_value == temp_colour %}
                    {% assign has_swatch = false %}
                    {% for image in product.images %}
                      {% assign alt = image.alt %}
                      {% if alt contains 'swatch_' %}
                        {% assign alt = alt | replace: 'swatch_', '' | strip | downcase %}
                        {% if alt == variant_colour_value %}
                          <a
                            class="color-swatch"
                            id="{{ value | split: " - " | first  | downcase }}"
                            style="background-image: url({{ image | img_url: '150x150', crop: 'center' }});"
                          >
                            <span class="tooltiptext">{{ value }}</span>
                          </a>
                          {% assign has_swatch = true %}
                          {% break %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}

                    {% if has_swatch == false %}
                      {% if variant.image %}
                        <a
                          class="color-swatch"
                          id="{{ value | split: " - " | first  | downcase }}"
                          style="background-image: url({{ variant.image | img_url: '300x300', crop: 'center' }});"
                        >
                          <span class="tooltiptext">{{ value }}</span>
                        </a>
                      {% else %}
                        <a class="color-swatch" id="{{ value | split: " - " | first  | downcase }}">
                          <span class="tooltiptext">{{ value }}</span>
                        </a>
                      {% endif %}
                    {% endif %}
                    {% break %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div>
          {% endif %}
          <form
            action="/cart/add"
            method="post"
            enctype="multipart/form-data"
            class="product-form product-page {% if product.variants.size > 1 %}has-variants{% endif %}"
            id="AddToCartForm"
          >
            <div class="size_info">
              {% assign opt_count = 1 %}
              {% assign selected_colour = '' %}
              {% assign first_options = '' %}

              {% if available_colours != '' %}
                <div class="row">
                  <div class="col-md-3 col-sm-4 align-self-center">
                    <label>Colour</label>
                  </div>
                  <div class="col-md-9 col-sm-8">
                    <select class="option-select form-select" name="option1">
                      {% for value in available_colours_array %}
                        {% if forloop.first %}{% assign selected_colour = value %}{% endif %}
                        <option
                          data-valuehandle="{{ value | handleize }}"
                          value="{{  value }}"
                          {% if forloop.first %}
                            selected
                          {% endif %}
                        >
                          {{ value }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                {% for product_option in product.options_with_values %}
                  {% if product_option.name != 'Colour' %}
                    {% assign opt_count = opt_count | plus: 1 %}
                    <div class="row">
                      <div class="col-md-3 col-sm-4 align-self-center">
                        <label>{{ product_option.name }}</label>
                      </div>
                      <div class="col-md-9 col-sm-8">
                        <select class="option-select form-select" name="option{{ opt_count }}"></select>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}

              <input id="product-handle" type="hidden" name="handle" value="{{ product.handle }}">
              <input
                id="variant-selected"
                type="hidden"
                name="id"
                value="{{product.selected_or_first_available_variant.id}}"
              >

              <div class="row">
                <div class="col-md-3 col-sm-4 align-self-center">
                  <label for="quantity">{{ 'products.product.quantity' | t }}</label>
                </div>
                <div class="col-md-9 col-sm-8">
                  <div class="quantity-selector product-page">
                    <div class="action decrement">
                      <span>-</span>
                    </div>
                    <div class="value">
                      <span data-max-qty="20">1</span>
                    </div>
                    <div class="action increment">
                      <span>+</span>
                    </div>
                    <input type="hidden" name="quantity" class="qty_value" value="1">
                  </div>
                </div>
              </div>
            </div>

            <span class="error cart-error"></span>

            <div class="flex-grid">
              <div class="col col-12">
                {% assign is_product_available = available_colours_array | size %}
                {% if is_product_available > 0 %}
                  <button type="submit" name="add" id="add-to-cart" class="btns">
                    <span>{{ 'products.product.add_to_cart' | t }}</span>
                  </button>

                  <button
                    data-product-id="{{product.id}}"
                    type="button"
                    name="emwis"
                    id="emwis"
                    class="btns"
                  >
                    <span>{{ 'Email me when in stock' }}</span>
                  </button>
                {% else %}
                  <button type="submit" name="add" id="sold" class="btn" disabled>
                    <span>
                      {{ 'products.product.sold_out' | t }}
                    </span>
                  </button>
                {% endif %}
              </div>
            </div>
          </form>
          <div class="social-share-section">
            <span>SHARE ME</span>
            {% include 'social-share-icons' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="product-tabs-container">
  <div class="container">
    <div class="tabs" id="product-tabs">
      <div class="tab active" data-for="spec">Specification</div>
      <div class="tab" data-for="desc">Description</div>
      <div class="tab" data-for="rev" id="bv_reviews_tab">Reviews</div>
      <div class="tab" data-for="del">Delivery/Returns</div>
    </div>

    {% comment %}
      <div id="tab-content">
          {% capture spec_content %}

          {% endcapture %}
          {{ spec_content }}
      </div>
    {% endcomment %}

    <div id="spec" class="tab-option" style="display: block;">
      <div class="flex-grid specs">
        <div class="col col-2 label">Upper Material</div>
        <div class="col col-10 value upper-material-val">
          <div class="default-value">
            {% for tag in product.tags %}
              {% if tag contains 'upper-material_' %}
                {{ tag | remove: 'upper-material_' }}
              {% endif %}
            {% endfor %}
          </div>

          {% for product_option in product.options_with_values %}
            {% for value in product_option.values %}
              {% assign variant_tag = 'upper-material-' | append: value | handleize | append: '_' %}
              {% for tag in product.tags %}
                {% if tag contains variant_tag %}
                  <div class="variant-value {{ value | handleize }}">{{ tag | remove: variant_tag }}</div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </div>
        <div class="col col-2 label">Lining Material</div>
        <div class="col col-10 value" id="lining_material">
          <div class="default-value">
            {% for tag in product.tags %}
              {% if tag contains 'lining-material_' %}
                {{ tag | remove: 'lining-material_' }}
              {% endif %}
            {% endfor %}
          </div>

          {% for product_option in product.options_with_values %}
            {% for value in product_option.values %}
              {% assign variant_tag = 'lining-material-' | append: value | handleize | append: '_' %}
              {% for tag in product.tags %}
                {% if tag contains variant_tag %}
                  <div class="variant-value {{ value | handleize }}">{{ tag | remove: variant_tag }}</div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </div>
        <div class="col col-2 label">Sole Material</div>
        <div class="col col-10 value">
          <div class="default-value">
            {% for tag in product.tags %}
              {% if tag contains 'sole-material_' %}
                {{ tag | remove: 'sole-material_' }}
              {% endif %}
            {% endfor %}
          </div>

          {% for product_option in product.options_with_values %}
            {% for value in product_option.values %}
              {% assign variant_tag = 'sole-material-' | append: value | handleize | append: '_' %}
              {% for tag in product.tags %}
                {% if tag contains variant_tag %}
                  <div class="variant-value {{ value | handleize }}">{{ tag | remove: variant_tag }}</div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </div>
        <div class="col col-2 label">Fastening Type</div>
        <div class="col col-10 value">
          <div class="default-value">
            {% for tag in product.tags %}
              {% if tag contains 'fastening-type_' %}
                {{ tag | remove: 'fastening-type_' }}
              {% endif %}
            {% endfor %}
          </div>

          {% for product_option in product.options_with_values %}
            {% for value in product_option.values %}
              {% assign variant_tag = 'fastening-type-' | append: value | handleize | append: '_' %}
              {% for tag in product.tags %}
                {% if tag contains variant_tag %}
                  <div class="variant-value {{ value | handleize }}">{{ tag | remove: variant_tag }}</div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </div>
        <div class="col col-2 label">Removable Insole</div>
        <div class="col col-10 value">
          <div class="default-value">
            {% for tag in product.tags %}
              {% if tag contains 'removable-insole_' %}
                {{ tag | remove: 'removable-insole_' }}
              {% endif %}
            {% endfor %}
          </div>

          {% for product_option in product.options_with_values %}
            {% for value in product_option.values %}
              {% assign variant_tag = 'removable-insole-' | append: value | handleize | append: '_' %}
              {% for tag in product.tags %}
                {% if tag contains variant_tag %}
                  <div class="variant-value {{ value | handleize }}">{{ tag | remove: variant_tag }}</div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </div>
        <div class="col col-2 label">Wide Fit</div>
        <div class="col col-10 value">
          <div class="default-value">
            {% for tag in product.tags %}
              {% if tag contains 'wide-fit_' %}
                {{ tag | remove: 'wide-fit_' }}
              {% endif %}
            {% endfor %}
          </div>

          {% for product_option in product.options_with_values %}
            {% for value in product_option.values %}
              {% assign variant_tag = 'wide-fit-' | append: value | handleize | append: '_' %}
              {% for tag in product.tags %}
                {% if tag contains variant_tag %}
                  <div class="variant-value {{ value | handleize }}">{{ tag | remove: variant_tag }}</div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div id="desc" class="tab-option">
      <h3>Description</h3>
      <div class="default-long-desc">
        {% for tabContent in description %}
          {% assign thisTabsContents = tabContent | split: '</h3>' %}

          {% assign thisTitleCheck = thisTabsContents[0] | downcase | trim %}
          {% if thisTitleCheck == 'description' %}
            {{ thisTabsContents[1] }}
          {% endif %}
        {% endfor %}
      </div>
      <div class="variant-long-desc"></div>
    </div>

    <div id="rev" class="tab-option">
      <h3>Reviews</h3>
      <!-- start_review_render_code_widget_section -->
      <script src="//ui.powerreviews.com/stable/4.0/ui.js"></script>
      <div id="pr-reviewdisplay" style=""></div>
      <!-- end_review_render_code_widget_section -->

      <!-- start_review_render_code_js_section -->

      <script>
        POWERREVIEWS.display.render({
            api_key: "354c0837-4e2b-4ee9-843d-b0114e6e4f44",
            locale: "en_GB",
            merchant_group_id: "345204098",
            merchant_id: "2032301978",
            page_id: "{{ product.id }}",
            review_wrapper_url: "https://josef-seibel-shop.myshopify.com/pages/write-a-review/?pr_page_id={{ product.id }}",
            product: {
                name: "{{ product.title | replace: "+", " " }}",
                url: "https://josef-seibel-shop.myshopify.com{{ product.url }}",
                image_url: "https:{{ product.featured_image | product_img_url: "large" }}",
                description: "{{ product.description | strip_html | strip_newlines | replace: "%0A", "%20" | replace: '"', '%27' | escape }}",
                category_name: {% if product.type != '' %}"{{ product.type }}"{% else %} "Default" {% endif %},
                upc: "{{ product.barcode }}",
                brand_name: "{{ product.vendor }}",
                price: "{{ product.price }}",
                in_stock: "{{ product.available }}",
                    variants: [ {% for variant in product.variants %}
                    {% assign product_name = product.title %}
                    {% if product.variants.size > 1 %}{% assign product_name = variant.title %}{% endif %}
                {
                name: "{{ product_name | replace: "+", " " }}",
                description: "{{ product_name | escape }}",
                page_id_variant: "{{variant.id}}",
                upc: "{{ variant.barcode }}"
                }{% if forloop.last == false %}, {% endif %} {% endfor %}
            ]},
            components: {
                ReviewDisplay: "pr-reviewdisplay",
                ReviewSnippet: "pr-reviewsnippet"
            }
            });
      </script>
      <!-- end_review_render_code_js_section -->
      {% comment %}
        <!-- /snippets/bv-ratings-reviews.liquid -->
        <!-- Bazaarvoice Ratings & Reviews -->
      {% endcomment %}
      {% comment %}
        <div data-bv-show="reviews" data-bv-product-Id="{{product.id}}">
        {% if product.metafields.bazaarvoice.reviews %}
        {{ product.metafields.bazaarvoice.reviews }}
        {% endif %}
        </div>
        <div data-bv-show="questions" data-bv-product-Id="{{product.id}}">
        {% if product.metafields.bazaarvoice.questions %}
        {{ product.metafields.bazaarvoice.questions }}
        {% endif %}
        </div>
      {% endcomment %}
      {% comment %}
        <!-- End Bazaarvoice Ratings & Reviews -->
      {% endcomment %}

      {% comment %} {% include 'product-reviews' %} {% endcomment %}
    </div>

    <div id="del" class="tab-option">
      {% section 'delivery-options' %}
    </div>
  </div>
</section>

{% comment %}
  {% include 'emwis-form' %}
{% endcomment %}
{% include 'back-in-stock-form' %}

{% include 'related-products' %}
